<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding Customers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="indigo" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Push-UP</a>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        <div id="app">
             <div class="row">
                    <form action="" @submit.prevent="addPost">
                      <div class="input-field col s12 l6">
                        <input type="text" id="first_name" class="validate" v-model="first_name">
                        <label for="first_name">Nombre (s)</label>
                      </div>
                      <div class="input-field col s12 l6">
                        <input type="text" id="last_name" class="validate" v-model="last_name">
                        <label for="last_name">Apellido (s)</label>
                      </div>
                      <div class="input-field col s12">
                        <input type="text" id="address" class="validate" v-model="address">
                        <label for="address" data-error="wrong" data-success="right">Dirección</label>
                      </div>
                      <div class="input-field col s12 l4">
                        <textarea id="phone_1" class="materialize-textarea" v-model="phone_1"></textarea>
                        <label for="phone_1">Teléfono 1</label>
                      </div>
                      <div class="input-field col s12 l4">
                            <textarea id="phone_2" class="materialize-textarea" v-model="phone_2"></textarea>
                            <label for="phone_2">Teléfono 2</label>
                      </div>
                      <div class="input-field col s12 l4">
                                <textarea id="phone_3" class="materialize-textarea" v-model="phone_3"></textarea>
                                <label for="phone_3">Teléfono 3</label>
                      </div>
                      <div class="input-field col s12 l9">
                      </div>
                      <button class="btn waves-effect waves-light" type="submit" name="action"  >Guardar
                          <i class="material-icons right">send</i>
                      </button>
                    </form>
             </div>
        </div> 
    </div> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script>
        let app = new Vue({
        el: "#app",
        data:{
            customers: [],
            customer:{
                first_name: "",
                last_name: "",
                address: "",
                phone_1: "",
                phone_2: "",
                phone_3: ""
            }
        },
         methods:{
             addPost:function(){
            const data = {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    address: this.address,
                    phone_1: this.phone_1,
                    phone_2: this.phone_2,
                    phone_3: this.phone_3,
                    soft_delete: "false",
                    created_by: "user_1",
                    created_at: new Date(),
                    updated_by: "user_1",
                    updated_at: new Date(),
                    }

            axios.post('http://localhost:3000/api/Customers', data).then(response => {
                        console.log(response)
                        //this.clear()
                    })
             },

             /*clear() {
                    first_name="",
                    last_name="",
                    address="",
                    phone_1="",
                    phone_2="",
                    phone_3=""
                }/*/
        }
    })
        </script>
</body>
</html>